body {
    margin: 0;
    font-family: monospace;
  }
  /* Change font */

  #season-list {
    text-align: center;
  }
  /* Center cards */
  
  #season-list img {
    height: 40rem;
    width: auto;
  }
  /* Resize images to be the same */

    #like:hover{
        background-color: red;
    }
  /* like button red when hover */

  .card {
    margin-bottom: 40px;
    border: 20px solid black;
    border-radius: 4px;
    background-color: grey;
  }
  /* Margins between cards larger, boarder added, background color added  */