body {
    margin: 0;
    font-family: monospace;
  }
  /* Change font */

  #season-list {
    text-align: center;
  }
  /* Center cards */
  
  #season-list img {
    height: 40rem;
    width: auto;
  }
  /* Resize images to be the same */

    
    #post:hover{
        background-color: red;
    }

    #like:hover{
        background-color: red;
    }
  