  body {
    margin: 0;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  #season-list {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
 
  #season-list img {
    height: 40rem;
    width: auto;
  }

  #like:hover {
    background-color: red;
  }

  .card {
    margin-bottom: 40px;
    border: 20px solid black;
    border-radius: 4px;
    background-color: grey;
    flex-basis: 50%;
    max-width: 50%;
  }
 
  
